<div class="CB-user-navigation-desktop d-none d-sm-block">
    <ul>
        <li>
            <a href="{{ path('app_user_dashboard') }}" class="{{ selected == 'dashboard' ? 'text-dark' : 'text-muted' }}">
                {{ 'Dashboard'|trans }}
            </a>
        </li>
        <li>
            <a href="" class="{{ selected == 'transactions' ? 'text-dark' : 'text-muted' }}">
                {{ 'Transactions'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('app_user_bank') }}" class="{{ selected == 'bank' ? 'text-dark' : 'text-muted' }}">
                {{ 'Bank'|trans }}
            </a>
        </li>
        <li>
            <a href="" class="{{ selected == 'profile' ? 'text-dark' : 'text-muted' }}">
                {{ 'Profile'|trans }}
            </a>
        </li>
    </ul>
</div>
{# Select menu, only appears on mobile #}
<div class="CB-user-navigation-mobile d-block d-sm-none">
    <select class="form-select form-select-lg rounded-0 border-0 d-block d-sm-none" aria-label="Default select example">
        <option value="dashboard" {{ selected == 'dashboard' ? 'selected' : '' }}>{{ 'Dashboard'|trans }}</option>
        <option value="transactions" {{ selected == 'transactions' ? 'selected' : '' }}>{{ 'Transactions'|trans }}</option>
        <option value="bank" {{ selected == 'bank' ? 'selected' : '' }}>{{ 'Bank'|trans }}</option>
        <option value="profile" {{ selected == 'profile' ? 'selected' : '' }}>{{ 'Profile'|trans }}</option>
    </select>
</div>