{% extends 'user-navigation_base.html.twig' %}

{% block title %}CoinBank - Dashboard{% endblock %}

{% block user_navigation %}
    {% with {"selected": "dashboard"} %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="CB-form-container-full my-md-3">
        <div class="card-body">
            <h1>{{ 'Dashboard'|trans }}</h1>
            <div class="embed-responsive embed-responsive-16by9">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div id="tradingview_12345" data-user-prefered-locale="{{app.user.preferedLocale}}"></div>
            </div>
            <!-- TradingView Widget END -->
            </div>

            <a href="{{path("app_user_crypto_form")}}" class="btn btn-dark w-100 my-3 d-flex justify-content-center align-items-center">{{ ux_icon('fa6-solid:wallet', {class: "me-2"}) }} {{'Buy/Sell'|trans}}</a>

            {% if cryptoBalances|length > 0 %}
                <div class="CB-crypto-info-container">
                    {% include 'includes/block/CB_crypto-info_dashboard-header.html.twig' %}
                    {% for crypto in cryptoBalances %}
                        {% include 'includes/block/CB_crypto-info_dashboard.html.twig' with {data: crypto} %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="CB-crypto-info-empty-wallet d-flex justify-content-center align-items-center">
                    <img class="crypto-icon" src="{{ asset('images/box.png') }}" alt="Empty wallet image">
                    <p>{{'No crypto in wallet'|trans}}</p>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        function initTradingViewWidget(userPreferedLocale) {
            new TradingView.widget({
            "autosize": true,
            "symbol": "BINANCE:BTCUSDT",
            "interval": "D",
            "timezone": "Europe/Paris",
            "theme": "light",
            "style": "3",
            "locale": userPreferedLocale,
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_12345"
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            const tradingView = document.getElementById('tradingview_12345')
            if (tradingView) {
                const userPreferedLocale = tradingView.getAttribute("data-user-prefered-locale");
                initTradingViewWidget(userPreferedLocale);
            }
        });
    </script>
{% endblock %}