{% extends 'user-navigation_base.html.twig' %}

{% form_theme profileForm 'themes/form_theme.html.twig' %}

{% block title %}CoinBank - Profile{% endblock %}

{% block user_navigation %}
    {% with {"selected": "profile"} %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="CB-form-container-full my-md-3">
        <div class="card-body">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            <h1>{{'Personnal Profile'|trans}}</h1>
            {{ form_errors(profileForm) }}
            {{ form_start(profileForm, {
                attr : {id:'CB-profile-form'}
            }) }}
                <div class="">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(profileForm.email, {
                                label: 'Email'|trans,
                                attr: { class: 'form-control' },
                                label_attr: { class: 'form-label' },
                            }) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(profileForm.username, {
                                label: 'Username'|trans,
                                attr: { class: 'form-control' },
                                label_attr: { class: 'form-label' },
                            }) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(profileForm.preferedLocale, {
                                label: 'Language'|trans,
                                attr: { class: 'form-select' },
                                label_attr: { class: 'form-label' },
                            }) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(profileForm.sponsorCode, {
                                label: 'Sponsor Code'|trans,
                                attr: { class: 'form-control' },
                                label_attr: { class: 'form-label' },
                            }) }}
                        </div>
                    </div>
                </div>
            <button type="submit" class="btn btn-primary">{{'Confirm'|trans}}</button>
            {{ form_end(profileForm) }}
        </div>
    </div>
    {% if app.user.sponsor or app.user.sponsoredUsers|length > 0 %}
        <div class="CB-form-container-full my-md-3">
            <div class="card-body">
                <div class="row">
                    {% if app.user.sponsor %}
                        <div class="col-12 col-lg-6">
                            <h2>{{'Sponsor'|trans}}</h2>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">#</th>
                                        <td>{{ app.user.sponsor.username }}</td>
                                        <td>{{ app.user.sponsor.email }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    {% if app.user.sponsoredUsers|length > 0 %}
                        <div class="col-12 col-lg-6">
                            <h2>{{'Sponsored Users'|trans}}</h2>
                            <table class="table">
                                <tbody>
                                    {% for user in app.user.sponsoredUsers %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}